/* typography */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

$font: "Lato", serif;

@font-face {
  font-family: 'Lato';
  src: url("../base/lato-black-webfont.woff") format('woff');
  font-weight: 100 900;
  font-display: swap;
}

// body font styling vars
$body-font-size: 120%;
$body-font-weight: 350;
$body-italic-weight: 100;

// display font styling vars
$display-font: $font;
$display-weight: 900;
$display-spacing: 0.15em;
$display-title-size: 4rem;
